@font-face {
	font-family: 'Avenir-LT-Std';
	src: url('../assets/fonts/AvenirLTStd-Light.eot');
	src: url('../assets/fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirLTStd-Light.woff') format('woff'),
		url('../assets/fonts/AvenirLTStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-LT-Std';
	src: url('../assets/fonts/AvenirLTStd-Book.eot');
	src: url('../assets/fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirLTStd-Book.woff') format('woff'),
		url('../assets/fonts/AvenirLTStd-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-LT-Std';
	src: url('../assets/fonts/AvenirLTStd-Roman.eot');
	src: url('../assets/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
		url('../assets/fonts/AvenirLTStd-Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-LT-Std';
	src: url('../assets/fonts/AvenirLTStd-Medium.eot');
	src: url('../assets/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirLTStd-Medium.woff') format('woff'),
		url('../assets/fonts/AvenirLTStd-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-LT-Std';
	src: url('../assets/fonts/AvenirLTStd-Heavy.eot');
	src: url('../assets/fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirLTStd-Heavy.woff') format('woff'),
		url('../assets/fonts/AvenirLTStd-Heavy.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-LT-Std';
	src: url('../assets/fonts/AvenirLTStd-Black.eot');
	src: url('../assets/fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirLTStd-Black.woff') format('woff'),
		url('../assets/fonts/AvenirLTStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
