/**RESET**/

* {margin: 0px; padding: 0px; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -ms-text-size-adjust: 100%; text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale;}
.clear {clear: both;}
.bold {font-weight: 700;}
.italic {font-weight: italic;}
a, img, button {background: none; outline: none; border: 0px; text-decoration: none;}
ul, li {list-style-type: none;}
html, body {width: auto; min-width: 100%; max-width: 100%; min-height: 100%;}
html {-ms-content-zooming: none;}
@-ms-viewport {width: device-width;}
.fade {opacity: 1.0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; transition: opacity .125s ease-in-out; -moz-transition: opacity .125s ease-in-out; -webkit-transition: opacity .125s ease-in-out; -webkit-backface-visibility: hidden;}
.fade:hover, .fade:active {opacity: .75; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";}


/**PRELOADER**/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#fff;
	z-index: 100000;
	}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/status.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	margin: -100px 0 0 -100px;
	}


/****BASIC STYLES****/

body {
	font-size: 21px;
	line-height: 1.5;
	color: #002945;
	background: #fff;
	font-family: 'Avenir-LT-Std', 'Avenir', sans-serif;
	font-weight: 400;
	letter-spacing: .025em;
	overflow-y: hidden;
	overflow-y: scroll!important;
	}
html.overlain, body.overlain{	
	//position:fixed;
	overflow:hidden;
}
body.viewport-lg{
	position:absolute;
}
.block {
	margin: 0;
	width: 100%;
	display: block;
	position: relative;
	box-sizing: border-box;
}

.contain {
	position: relative;
	margin: 0px auto;
	display: block;
	padding: 0 40px;
	box-sizing: border-box;
	width: 100%;
	max-width: 1260px; /* change as needed*/
	}

.hidden-sm {display: block !important;}
.hidden-xs {display: block !important;}
.visible-sm {display: none !important;}
.visible-xs {display: none !important;}

@media screen and (max-width: 1299px) {

}

@media screen and (max-width: 1199px) {

	.contain {
		padding: 0 30px;
		max-width: 960px;
	}

}

@media screen and (max-width: 991px) {

	.contain {
		padding: 0 24px;
		max-width: 620px;
	}

	.hidden-sm {display: none !important;}
	.visible-sm {display: block !important;}

}

@media screen and (max-width: 767px) {

	.contain {
		max-width: 100%;
	}

	.hidden-xs {display: none !important;}
	.visible-xs {display: block !important;}

}


/****COLUMNS****/

.cols {}
.colFlex {display: -webkit-flex; display: flex;}
.row {margin: 0;}
.row:after {content: ""; display: table; clear: both;}

cols .span {
   margin-right: 2%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

[class*="span"]:last-child {margin-right: 0;}

.span1 {width: 6.5%;}
.span2 {width: 15%;}
.span3 {width: 23.5%;}
.span4 {width: 32%;}
.span5 {width: 40.5%;}
.span6 {width: 49%;}
.span7 {width: 57.5%;}
.span8 {width: 66%;}
.span9 {width: 74.5%;}
.span10 {width: 83%;}
.span11 {width: 91.5%;}
.span12 {width: 100%;}

@media only screen and (max-width: 991px) {
	.colFlex {display: block;}
   [class*="span"] {width: 100%;}
}


/****BASIC TYPOGRAPHY****/

a:link {
	color: #0a4b80;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
	}

a:active {
	color: #6680b3;
	}

a:visited {
	color: #0a4b80;
	}

a:hover {
	color: #6680b3;
	cursor: pointer;
	}

h1 {
	font-size: 74px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	line-height: 1.2;
}

h2 {
	font-size: 45px;
	font-weight: 400;
	color: #0a4b80;
	line-height: 1.111;
	margin-bottom: 35px;
}

h2.stack {
	word-spacing: 100vw;
}

h3 {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #0a4b80;
}

h4 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #6680b3;
}

.more {
	display: block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: .15em;
	text-transform: uppercase;
}

.more:not(.continue) {
	color: #fff;
	border: 2px solid #6680b3;
	width: 240px;
	height: 50px;
	line-height: 50px;
	margin-top: 40px;
	overflow: hidden;
	padding-left: 24px;
}

.more.dark {
	color: #0a4b80;
}

.more:hover, .more:active {color: #6680b3;}

.more:not(.continue) span {
	display: inline-block;
	text-align: left;
	width: 190px;
}

.more:not(.continue) span:first-child {
	border-right: 2px solid #6680b3;
}

.more span.tri {
	display: inline-block;
	width: 0;
	height: 0;
	margin: 0 0 0 20px;
	border-style: solid;
	border-width: 6px 0px 6px 8px;
	border-color: transparent transparent transparent #fff;
	-webkit-transform: rotate(360deg);
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

.more.dark span.tri {
	border-color: transparent transparent transparent #0a4b80;
}

.more:hover span.tri, .more:hover span.tri {
	border-color: transparent transparent transparent #6680b3;
}

p.intro {
	font-size: 28px;
	line-height: 1.4;
	display: block;
	margin: 0px auto;
}

p.secondary {
	color: #0a4b80;
	margin: 0px auto;
	margin-top: 30px;
	display: block;
}

p.sm {
	font-size: 17px;
}

@media screen and (max-width: 1299px) {

}

@media screen and (max-width: 1199px) {

	h1 {
		font-size: 62px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 15px;
	}

	p.intro {
		font-size: 22px;
	}

	p.secondary {
		color: #0a4b80;
		margin: 0px auto;
		margin-top: 25px;
		display: block;
	}

}

@media screen and (max-width: 991px) {

	body {
		font-size: 20px;
	}

	h2.stack {
		word-spacing: normal;
	}

}

@media screen and (max-width: 767px) {

	body {
		font-size: 17px;
	}

	h1 {
		font-size: 52px;
	}

	h2 {
		font-size: 36px;
	}

	p.intro {
		font-size: 21px;
	}

}

@media screen and (max-width: 767px) and (orientation: landscape) {

}


/****NAVIGATION****/

#nav-top {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	background: #002945;
	font-size: 17px;
	font-weight: 500;
	height: 80px;
	min-width: 90px;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

@media screen and (min-width: 992px) {
	#nav-top.hidden {opacity: 0;}
}

#nav-top .blocker {
	position: fixed;
	right: 0;
	top: 0;
	background: #002945;
	height: 80px;
	width: 90px;
	z-index: 1;
}

#nav-top::before {
	position: absolute;
	left: -40px;
	top: 0;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 80px 0 0 40px;
	border-color: #002945 transparent transparent transparent;
	-webkit-transform: rotate(360deg);
}

#nav-top ul {
	display: block;
	position: relative;
	z-index: 0;
	margin-top: 25px;
	padding: 0 115px 0 32px;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

#nav-top ul li {
	display: inline-block;
}

#nav-top ul li a {
	position: relative;
	display: block;
	color: #fff;
	line-height: 30px;
	margin: 0 16px;
}

#nav-top ul li a:hover,
#nav-top ul li a:active {
	color: #6680b3;
}

#nav-top ul li:first-child a {
	margin-left: 0;
}

#nav-top ul li:nth-last-child(1) a {
	margin-right: 0;
}

#navBtn {
	position: fixed;
	z-index: 2;
	right: 40px;
	top: 31px;
	background: #002945 url(../images/menu.svg) no-repeat center center;
	background-size: cover;
	width: 30px;
	height: 18px;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

#navBtn:hover {
	background: url(../images/menu_hov.svg) no-repeat center center;
}


/****COLLAPSED NAV****/

@media screen and (min-width: 992px) {

	#nav-top.small ul {
		visibility: hidden;
		opacity: 0;
	}

}

@media screen and (min-width: 1200px) {

	#nav-top.small {
		margin-right: -515px;
	}

}


/****SLIDE NAV****/

#nav-full {
	position: fixed;
	width: 520px;
	padding: 0 50px;
	box-sizing: border-box;
	height: 100vh;
	top: 0;
	right: -520px;
	z-index: 2000;
	background: #002945;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#nav-full.open {
	right: 0;
	z-index: 2000;
}

#nav-full::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 15px;
	opacity: .25;
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
}

#nav-overlay {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	background: rgba(225, 225, 225, .8);
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 1999;
}

#nav-overlay.open {
	visibility: visible;
	opacity: 1;
}

#nav-full #navCl {
	position: absolute;
	right: 40px;
	top: 31px;
	width: 30px;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
	height: 22px;
	margin-top: -2px;
	background: url(../images/menu_cl.svg) no-repeat center center;
	background-size: contain;
}

#nav-full ul {
	font-size: 28px;
	line-height: 60px;
	display: block;
	margin: 60px 0 0;
}

#nav-full ul li {
	display: block;
}

#nav-full ul li.pad {
	padding-top: 30px;
}

#nav-full ul li a {
	display: table;
	color: #fff;
}

#nav-full ul li a:link {color: #fff;}

#nav-full ul li a:hover, #nav-full ul li a:active {color: #6680b3;}

#nav-full form#search {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

#nav-full form#search input {
	background: none;
	position: relative;
	width: calc(100% - 40px);
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	border: 0;
	font-size: 28px;
	font-family: 'Avenir-LT-Std', 'Avenir', sans-serif;
	font-weight: 400;
	color: #fff;
	letter-spacing: .025em;
	outline: none;
}

#nav-full form#search input:focus,
#nav-full form#search input:valid {
	border-bottom: 1px solid #6680b3;
}

#nav-full form#search label {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
}

#nav-full .footer {
	position: absolute;
	width: 100%;
	padding: 33px 50px;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	line-height: 14px;
	color: #fff;
	font-size: 15px;
	background: rgba(255, 255, 255, .10);
}

#nav-full .footer .linkedin {
	float: right;
	font-size: 18px;
}

#nav-full .footer span {
	display: inline-block;
}

#nav-full .footer span i {
	margin-right: 12px;
}

#nav-full .footer span.em {
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid #fff;
}

#nav-full .footer span.em i {
	font-size: 13px;
}

#nav-full .footer a {color: #fff;}
#nav-full .footer a:hover, #nav-full .footer a:active {color: #6680b3;}


/****MOBILE NAV STYLES****/

@media screen and (max-width: 1199px) {

	#nav-top ul {
		padding: 0 110px 0 30px;
	}

	#nav-top ul li a {
		margin: 0 12px;
	}

	#nav-full {
		position: fixed;
		width: 480px;
		padding: 0 50px;
		box-sizing: border-box;
		height: 100vh;
		top: 0;
		right: -480px;
	}

}

@media screen and (max-width: 1199px) {

	#nav-top ul {
		display: none;
	}

}

@media screen and (max-width: 991px) {

	#nav-top .blocker {
		display: none;
	}

	#nav-top.small {
		min-width: 100%;
	}
}

@media screen and (max-width: 767px) {

	#nav-top {
		height: 60px;
		min-width: 65px;
	}

	#nav-top::before {
		left: -30px;
		border-width: 60px 0 0 30px;
	}

	#nav-top ul {
		display: none;
	}

	#navBtn {
		right: 20px;
		top: 21px;
	}

	#nav-full {
		width: 300px;
		padding: 0 30px;
		right: -300px;
	}

	#nav-full #navCl {
		right: 20px;
		top: 21px;
	}

	#nav-full ul {
		font-size: 21px;
		line-height: 45px;
		margin: 40px 0 0;
	}

	#nav-full ul li.pad {
		padding-top: 25px;
	}

	#nav-full form#search input {
		width: calc(100% - 30px);
		height: 45px;
		line-height: 45px;
		padding-left: 30px;
		font-size: 21px;
	}

	#nav-full form#search label {
		font-size: 19px;
	}

	#nav-full .footer {
		padding: 25px 30px;
	}

	#nav-full .footer span.em span {
		display: none;
	}

	#nav-full .footer span.em i {
		font-size: 15px;
	}

}

@media screen and (max-width: 767px) and (orientation: landscape) {

	#nav-full ul {
		font-size: 19px;
		line-height: 32px;
		margin: 30px 0 0;
	}

	#nav-full ul li.pad {
		padding-top: 15px;
	}

	#nav-full .footer {
		padding: 10px 30px;
	}

	#nav-full form#search {display: none;}

}

/****SUBPAGE NAV****/

@media screen and (min-width: 992px) {

	#nav-top.subNav {
		width: 90px;
		margin-right: 0;
	}
}


/****FOOTER****/

#logoFt {
	position: fixed;
	width: 283px;
	height: 80px;
	background: url(../images/logo_bot.svg) no-repeat left bottom;
	bottom: 0;
	left: 0;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	z-index: 10;
}

#logoFt a{
	display:block;
}
#logoFt.active {
		opacity: 1;
}

footer {
	background: #233d56;
	font-size: 13px;
	color: #fff;
	height: 65px;
	display: block;
	width: 100%;
	overflow: hidden;
}

footer p,
footer .contact {
	margin: 25px 0 0 360px;
	display: inline-block;
	line-height: 15px;
	height: 15px;
}

footer .contact {
	float: right;
	margin: 25px 40px 0 0;
}

footer .contact a {
	color: #fff;
}

footer .contact a:hover, footer .contact a:active {color: #6680b3;}

footer .contact span {
	display: inline-block;
}

footer .contact span i {
	margin-right: 12px;
}

footer .contact span.em {
	margin-left: 15px;
	padding-left: 18px;
	border-left: 1px solid #fff;
}

footer .contact span.em i {
	font-size: 12px;
}

@media screen and (max-width: 1199px) {

	footer p {
		margin-left: 340px;
	}

	footer .contact span.em i {
		margin-right: 0;
	}

	footer .contact span.em a span {
		display: none;
	}

}

@media screen and (max-width: 991px) {

	#logoFt {
		display: none;
	}

	footer p {
		margin-left: 40px;
	}

	footer p span {
		display: none;
	}

	footer .contact span.em i {
		margin-right: 12px;
	}

	footer .contact span.em a span {
		display: inline-block;
	}

}

@media screen and (max-width: 767px) {

	footer {
		height: auto;
		padding: 15px 20px;
		box-sizing: border-box;
		font-size: 12px;
	}

	footer p, footer .contact {
		margin: 7px 0;
		float: none;
	}

}


/****PAGINATION****/

.pag {
	font-family: 'Effra', 'Avenir-LT-Std', sans-serif;
	font-weight: 500;
	font-size: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pag li {
	margin: 15px 0;
}

.pag li a {
	color: #fff;
	padding: 0 3px;
}

.pag li.active a {
	border-bottom: 2px solid #fff;
}

@media screen and (max-width: 991px) {

	.pag {
		top: auto;
		bottom: 15px;
		left: 50% !important;
		transform: translateX(-50%);
		right: auto !important;
	}

	.pag li {
		margin: 0 4px;
		padding: 0;
		border: 0;
		text-indent: -9999px;
		display: inline-block;
	}

	.pag li.active {
		border: 0;
	}

	.pag li a {
		display: block;
		height: 8px;
		padding: 0;
		width: 8px;
		border-radius: 4px;
		background: #6680b3;
	}

	.pag li.active a,
	.pag li a:hover {
		background: #fff;
		border: 0;
	}

}


/****PROFILES CAROUSEL****/

.splits {
	padding: 220px 0;
}

.splits .img {
	position: relative;
	width: 50%;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
	left: auto;
	right: auto;
	display: block;
}

.splits .img span {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 86.4864%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.splits .content {
	position: absolute;
	top: 50%;
	width: 50%;
	box-sizing: border-box;
	padding: 0 60px;
	transform: translateY(-50%);
}

.splits .content .wrap {
	display: block;
	margin: 0px auto;
	width: auto;
	max-width: 480px;
}

.splits h4 {
	margin-bottom: 20px;
}

.splits h4 span.count {
	color: #0a4b80;
	display: inline-block;
	margin-right: 12px;
}

.splits p {
	color: #444;
	font-size: 17px;
}

#profCar .img {
	left: 0;
}

#profCar .content {
	left: 50%;
}

#profCar .pag {
	left: 40px;
}

#profCar .pag a:hover {
	opacity: .5;
}

#profCar .nav {
	position: absolute;
	bottom: 220px;
	width: 50%;
	left: 0;
	color: #fff;
}

#profCar .nav li {
	float: right;
	box-sizing: border-box;
	display: inline-block;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	margin: 0;
}

#profCar .nav li a {
	width: 70px;
	height: 70px;
	display: block;
	overflow: hidden;
	text-align: center;
	text-indent: -9999px;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

#profCar .nav li a:hover {
	opacity: .65;
}

#profCar .nav li a span {
	width: 0;
	height: 0;
	display: block;
	margin: 27px auto 0;
	border-style: solid;
	border-width: 8px 0px 8px 12px;
	border-color: transparent transparent transparent #fff;
	-webkit-transform: rotate(360deg);
}

#profCar .nav li.prev a span {
	border-width: 8px 12px 8px 0px;
	border-color: transparent #fff transparent transparent;
}

#profCar .slide1 .img span {
	background-image: url(../images/home/profile1.jpg);
}

@media screen and (max-width: 1199px) {

	.splits {
		padding: 150px 0;
	}

	.splits .img {
		width: 45%;
	}

	.splits .img span {
		padding-bottom: 125%;
	}

	.splits .content {
		width: 55%;
	}

	#profCar .content {
		left: 45%;
	}

	#profCar .nav {
		bottom: 150px;
		width: 45%;
	}

}

@media screen and (max-width: 991px) {

	.splits {
		padding: 100px 0 0;
	}

	.splits .img {
		width: 100%;
		left: 0;
	}

	.splits .img span {
		padding: 0;
		height: 460px;
	}

	.splits .content {
		position: relative;
		left: auto !important;
		right: auto !important;
		transform: none;
		z-index: 1;
		margin: 0px auto;
		width: 100%;
		padding-bottom: 100px;
	}

	#profCar .content {
		padding-bottom: 130px;
	}

	#profCar .img {
		display: none;
	}

	#profCar .pag {
		bottom: 35px;
	}

	#profCar .pag li.active a,
	#profCar .pag li a:hover {
		background: #0a4b80;
	}

	#profCar .nav {
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
		width: 100%;
		left: 0;
		height: 70px;
		z-index: 10;
	}

	#profCar .nav li {
		position: absolute;
		float: none;
	}

	#profCar .nav li.next {
		right: 0;
	}

	#profCar .nav li {
		border: 0;
		background: #e7e7e7;
	}

	#profCar .nav li a {
		width: 50px;
		height: 60px;
	}

	#profCar .nav li a span {
		margin-top: 22px;
	}

}

@media screen and (max-width: 767px) {

	.splits {
		padding: 60px 0 0;
	}

	.splits .img span {
		height: 280px;
	}

	.splits .content {
		padding: 0 24px 60px;
	}

	#profCar .content {
		padding-bottom: 90px;
	}

	#profCar .pag {
		bottom: 25px;
	}

	#profCar .nav {
		display: none;
	}

}


/****CULTURE BLOCK****/

#cultureBl .img span {
	background-image: url(../images/home/culture.jpg);
}

@media screen and (min-width: 992px) {

	#cultureBl .img {
		width: 55%;
		margin-left: 45%;
	}

	#cultureBl .img span {
		padding-bottom: 75%
	}

	#cultureBl .content {
		width: 45%;
	}

	#cultureBl .content .wrap {
		max-width: 400px;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

	#cultureBl .img span {
		padding-bottom: 90%
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {

	#cultureBl .img span {
		background-position: center -20px;
	}

}




/****TESTIMONIAL CAROUSEL****/

#testCar {
	background: #002945;
	color: #fff;
	font-size: 30px;
	line-height: 1.6;
	padding: 110px 0;
}

#testCar .quote {
	text-indent: -15px;
}

#testCar .quote, #testCar .att {
	max-width: 780px;
	margin: 0px auto;
}

#testCar .att {
	color: #6680b3;
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin-top: 40px;
	border-left: 4px solid #6680b3;
	padding-left: 24px;
	box-sizing: border-box;
}

#testCar .att .company {
	font-weight: 500;
	font-size: 13px;
	display: block;
	margin-top: 3px;
}

#testCar .pag {
	right: 40px;
}

#testCar .pag li a {
	color: #6680b3;
}

#testCar .pag li.active a,
#testCar .pag li:hover a {
	color: #fff;
}

@media screen and (max-width: 1199px) {

	#testCar {
		font-size: 24px;
		padding: 100px 0;
	}

	#testCar .quote {
		text-indent: -12px;
	}

	#testCar .quote, #testCar .att {
		max-width: 740px;
	}

}

@media screen and (max-width: 991px) {

	#testCar {
		font-size: 21px;
		padding: 100px 0;
	}

	#testCar .quote {
		box-sizing: border-box;
	}

}

@media screen and (max-width: 767px) {

	#testCar {
		font-size: 20px;
		padding: 60px 0 80px;
	}

	#testCar .att {
		font-size: 14px;
	}

}


/****CONTACT CTA****/

#cta {
	background: #e7e7e7;
	color: 0a4b80;
	padding-top: 130px;
	padding-bottom: 130px;
}

#cta h2 {
	word-spacing: normal;
	margin: 0 0 0 80px;
	display: inline-block;
	line-height: 1.3333;
}

#cta a {
	float: right;
	margin-right: 80px;
	display: inline-block;
	height: 100px;
	line-height: 104px;
	background: #6680b3;
	max-width: 100%;
	width: 440px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .2em;
	text-align: center;
}

#cta a:hover {
	background: #0a4b80;
}

@media screen and (max-width: 1199px) {

	#cta h2 {
		margin-left: 20px;
	}

	#cta a {
		width: 400px;
		margin-right: 20px;
		letter-spacing: .15em;
	}

}

@media screen and (max-width: 991px) {

	#cta {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	#cta h2 {
		display: block;
		margin: 0px auto;
		text-align: center;
	}

	#cta h2 br {
		display: none;
	}

	#cta a {
		display: block;
		height: 80px;
		float: none;
		line-height: 84px;
		margin: 40px auto 0;
	}

}


/****LANDING PAGE****/

#landing {
	background: url(../images/home/landing_bg.jpg) center center no-repeat;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

#landing #logo,
.hero #logo {
	display: block;
	position: absolute;
	margin: 20px 0 0 40px;
	text-indent: -9999px;
	background: url(../images/logo_full.png) center center no-repeat;
	background-size: cover;
	width: 220px;
	height: 60px;
}

#landing article {
	position: relative;
	display: block;
	margin: 0px auto;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

#landing h3 {
	color: #fff;
	margin: 30px auto 0;
	font-size: 18px;
	position: relative;
	display: table;
}

#landing h3 br {
	display: none;
}

#landing h3::before,
#landing h3::after {
	position: absolute;
	content: '';
	width: 40px;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -2px;
}

#landing h3::before {
		left: -70px;
}

#landing h3::after {
		right: -70px;
}

#landing .more {
	position: absolute;
	bottom: 0;
	z-index: 100;
	left: 0;
	width: 200px;
	background: #fff;
	height: 80px;
	color: #969799;
	line-height: 80px;
	padding: 0;
	text-indent: 40px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

#landing .more.faded {
	opacity: 0;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

#landing .more::after {
	position: absolute;
	right: -40px;
	top: 0;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 80px 0 0 40px;
	border-color: transparent transparent transparent #fff;
	-webkit-transform: rotate(360deg);
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

#landing .more span.tri {
	margin: 35px 0 0 25px;
	vertical-align: top;
	border-width: 8px 6px 0 6px;
	border-color: #969799 transparent transparent transparent;
}

#landing .more:hover {
	color: #002945;
}

#landing .more:hover span.tri {
	border-color: #002945 transparent transparent transparent;
}


@media screen and (max-width: 1199px) {

	#landing #logo,
	.hero #logo {
		width: 200px;
		height: 54px;
	}

}

@media screen and (max-width: 991px) {

	#landing #logo,
	.hero #logo {
		position: fixed;
		z-index: 1000;
		width: 180px;
		height: 49px;
		margin: 15px 0 0 30px;
	}

	#landing article {
		padding-bottom: 50px;
	}

	#landing h1 {
		word-spacing: 100vw;
		font-size: 74px;
	}

	#landing h3 {
		font-size: 15px;
	}

	#landing h3::before,
	#landing h3::after {
		height: 1px;
	}

	#landing .more {
		position: absolute;
		bottom: 50px;
		left: 50%;
		margin-left: -30px;
		width: 60px;
		height: 60px;
		background: none;
		color: #fff;
		line-height: 60px;
		border: 1px solid #fff;
		border-radius: 30px;
	}

	#landing .more::after {
		display: none;
	}

	#landing .more span:first-child {
		display: none;
	}

	#landing .more span.tri {
		margin: 26px auto 0;
		display: block;
		border-color: #fff transparent transparent transparent;
		border-width: 10px 8px 0 8px;
	}

	#landing .more:hover span.tri {
		border-color: #fff transparent transparent transparent;
	}

}

@media screen and (max-width: 767px) {

	#landing #logo,
	.hero #logo {
		position: fixed;
		width: 151px;
		height: 40px;
		z-index: 1000;
		margin: 10px 10px;
		background-size: contain;
	}

	#landing article {
		padding-bottom: 20px;
	}

	#landing h1 {
		font-size: 52px;
	}

	#landing h3 {
		padding-top: 10px;
	}

	#landing h3 br {
		display: block;
	}

	#landing h3::before {
		margin-top: -10px;
		left: 50%;
		top: 0;
		margin-left: -20px;
	}

	#landing h3::after {
		display: none;
	}

	#landing .more {
		bottom: 25px;
		height: 50px;
		width: 50px;
	}

	#landing .more span.tri {
		margin: 22px auto 0;
	}

}

@media screen and (max-width: 767px) and (orientation: landscape) {

	#landing article {
		padding-bottom: 10px;
	}

	#landing h1,
	.hero h1 {
		word-spacing: normal;
		font-size: 38px;
		letter-spacing: 0;
	}

	#landing h3 br {
		display: none;
	}

	#landing .more {
		bottom: 15px;
	}

}


/****HOME INTRO****/

#homeIntro {
	padding-top: 250px;
	padding-bottom: 250px;
	overflow: hidden;
}

#homeIntro .contain .cont {
	max-width: 740px;
	display: block;
	margin: 0px auto;
}

#homeIntro .contain img {
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	width: 440px;
}

@media screen and (max-width: 1199px) {

	#homeIntro {
		padding-top: 180px;
		padding-bottom: 180px;
	}

}

@media screen and (max-width: 991px) {

	#homeIntro .contain img {
		right: -120px;
		width: 480px;
		opacity: .5;
	}

}

@media screen and (max-width: 767px) {

	#homeIntro {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#homeIntro .contain img {
		display: none;
	}

}


/****HOME EXPERTISE****/

#homeExp {
	background: url(../images/home/expertise_bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	padding-top: 200px;
	padding-bottom: 200px;
}

#homeExp .contain .row {
  align-items: center;
}

#homeExp h2 {
	color: #fff;
}

#homeExp .industries {
	font-size: 24px;
	line-height: 48px;
}

#homeExp .industries li {
	margin-top: 50px;
	padding-left: 30px;
	border-left: 4px solid #6680b3;
}

#homeExp .industries li:first-child {
	margin-top: 0px;
}

@media screen and (max-width: 1199px) {

	#homeExp {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	#homeExp .buffer {
		display: none;
	}

	#homeExp .cont {
		width: 40.5%;
	}

}

@media screen and (max-width: 991px) {

	#homeExp {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	#homeExp .cont {
		width: auto;
	}

	#homeExp .industries {
		font-size: 24px;
		margin: 45px 0 50px;
		line-height: 40px;
	}

	#homeExp .industries li {
		margin-top: 30px;
	}

}

@media screen and (max-width: 767px) {

	#homeExp {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	#homeExp .industries {
		font-size: 20px;
		line-height: 36px;
	}

	#homeExp .industries li {
		margin-top: 24px;
		padding-left: 20px;
		letter-spacing: 0;
	}

}



/****PORTFOLIO PAGE****/

.hero {
	height: 40vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero h1 {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

#portHero {
	background-image: url(../images/portfolio/hero.jpg);
}

.block.intro {
	padding: 140px 0;
}

.block.intro p.intro {
	margin-top: -8px;
}

@media screen and (max-width: 1199px) {

	.hero {
		height: 50vw;
	}

	.block.intro {
		padding: 100px 0;
	}

	.block.intro p.intro {
		margin-top: -6px;
	}

}

@media screen and (max-width: 991px) {

	.hero {
		height: 50vh;
	}

	.block.intro {
		padding: 80px 0;
	}

	.block.intro p.intro {
		margin-top: 30px;
	}

}

@media screen and (max-width: 767px) {

		.hero {
			height: 75vh;
		}
}

#invGrid {
	padding: 160px 0 200px;
}

#invGrid h2 {
	color: #a1a1a1;
	position: relative;
	font-weight: 500;
	text-align: center;
	margin: 0px auto;
	padding-bottom: 25px;
}

#invGrid h2:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80px;
	margin-left: -40px;
	height: 2px;
	background: #a1a1a1;
}

#invGrid ul {
	display: flex;
	margin: 90px auto 0;
	flex-wrap: wrap;
	overflow: hidden;
}

#invGrid ul:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: 0;
}

#invGrid ul li {
	width: 33.3333%;
	position: relative;
	box-sizing: border-box;
}

#invGrid ul li {
	border-right: 2px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
}

@media screen and (min-width: 1200px) {

	#invGrid ul li:nth-child(3n) {
		border-right: 0;
	}

}

/**LOGO GRID**/

#invGrid ul li .logo {
	position: absolute;
	left: 50%;
	top: 50%;
	width: calc(100% - 80px);
	transform: translate(-50%, -50%);
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

#invGrid ul li .logo img {
	display: block;
	width: auto;
	height: auto;
	max-height: 80px;
	max-width: 300px;
	margin: 0px auto;
}

#invGrid ul li .logo.tall img {
	max-height: 100px;
}

#invGrid ul li .logo.mid img {
	max-width: 250px;
}

#invGrid ul li div {
	opacity: 0;
	visibility: hidden;
	background: #0a4b80;
	position: relative;
	z-index: 10;
	color: #fff;
	height: 320px;
	overflow: hidden;
	padding: 40px;
	display: block;
	box-sizing: border-box;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
}

#invGrid ul li div .status {
	color: #8da6ce;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	display: block;
}

#invGrid ul li div .name {
	font-size: 34px;
	line-height: 1;
	margin-top: 12px;
	display: block;
}

#invGrid ul li div p {
	font-size: 16px;
	margin-top: 18px;
}

#invGrid ul li div .more {
	border: 0;
	position: absolute;
	left: 40px;
	bottom: 20px;
	width: auto;
	margin: 0;
	padding: 20px 0;
	height: auto;
	line-height: 1;
	cursor: pointer;
}

#invGrid ul li div .more:hover {
	color: #8da6ce;
}

#invGrid ul li div .more span:first-child {
	width: auto;
	border: 0;
}

#invGrid ul li div .more:hover .tri {
	border-color: transparent transparent transparent #8da6ce;
}


#invGrid ul li:hover div {
	opacity: 1;
	visibility: visible;
}

#invGrid ul li:hover .logo {
	opacity: 0;
	visibility: hidden;
}

@media screen and (max-width: 1199px) {

	#invGrid ul {
		margin: 90px auto 0;
		max-width: 900px;
	}

	#invGrid ul li {
		width: 50%;
	}

	#invGrid ul li:nth-child(2n) {
		border-right: 0;
	}

}

@media screen and (max-width: 1024px) and (min-width: 768px) {

	#invGrid ul li:after {
		content: '[+]';
		position: absolute;
		text-align: center;
		left: 50%;
		margin-left: -20px;
		font-weight: 600;
		color: #ccc;
		z-index: 1;
		bottom: 25px;
		height: 24px;
		width: 24px;
		line-height: 24px;
		font-size: 24px;
	}

}

@media screen and (max-width: 991px) {

	#invGrid {
		padding-top: 120px;
	}

	#invGrid ul li div .name {
		font-size: 32px;
	}

	#invGrid ul li div p {
		margin-top: 15px;
	}

}

@media screen and (max-width: 767px) and (orientation: portrait) {

	#invGrid {
		padding-top: 80px;
	}

	#invGrid ul {
		display: block;
		margin: 30px auto 0;
	}

	#invGrid ul li {
		display: block;
		width: 100%;
	}

	#invGrid ul li {
		border-right: 0;
	}

	#invGrid ul li div {
		height: auto;
		padding: 30px 30px 10px;
	}

	#invGrid ul li div .name {
		font-size: 24px;
	}

	#invGrid ul li div p {
		font-size: 15px;
		margin-top: 15px;
	}

	#invGrid ul li div .more {
		position: relative;
		bottom: auto;
		left: auto;
		margin-top: 10px;
	}

}

/**FEATURED PROFILES**/

#features {
	display: flex;
}

#features .feat {
	width: 50%;
	text-align: center;
	color: #fff;
	position: relative;
	height: 37.5vw;
	overflow: hidden;
}

#features .feat .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

#features .feat .cont {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

#features .feat .cont img {
	display: block;
	position: relative;
	top: 50%;
	margin: 0px auto;
	transform: translateY(-50%);
	max-width: 480px;
	padding-bottom: 10px;
	width: 70%;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	-webkit-backface-visibility: hidden;
}

#features .feat2 .cont img {
	width: 60%;
	max-width: 400px;
}

#features .feat .more {
	border: 2px solid #fff;
	margin: 0px auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	-webkit-backface-visibility: hidden;
}

#features .feat .more span:first-child {
	border-right: 2px solid #fff;
	margin-left: -24px;
}

#features .feat .more:hover span {
	color: #fff !important;
}

#features .more:hover span.tri {
	border-color: transparent transparent transparent #fff;
}

@media screen and (min-width: 1200px) {

	#features .feat .more {
		opacity: 0;
		visibility: hidden;
	}

	#features .feat:hover > .bg {
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}

	#features .feat:hover > .cont img, #features .feat:hover > .cont .more {
		transform: translateY(calc(-50% - 30px));
		opacity: 1;
		visibility: visible;
	}

}

#features .feat1 .bg {
	background-image: url(../images/portfolio/feat1.jpg);
}

#features .feat2 .bg {
	background-image: url(../images/portfolio/feat2.jpg);
}

@media screen and (max-width: 1199px) {

	#features .feat {
		height: 40vw;
	}

	#features .feat .cont img {
		margin-top: -20px;
	}

	#features .feat .more {
		width: auto;
		display: table;
		line-height: 40px;
		height: 40px;
	}

	#features .feat .more span:first-child {
		border-right: 0;
		width: auto;
		padding: 0 20px;
		font-size: 13px;
		letter-spacing: .15em;
		margin-left: -24px;
	}

	#features .feat .more:hover span {
		color: #fff !important;
	}

	#features .more span.tri {
		display: none;
	}

}

@media screen and (max-width: 991px) {

	#features {
		display: block;
	}

	#features .feat {
		width: 100%;
		height: 55vw;
		margin-bottom: 2px;
	}

	#features .feat .cont img {
		margin-top: -35px;
	}

	#features .feat .more span:first-child {
		padding: 0 30px;
	}

}

@media screen and (max-width: 767px) {

	#features .feat {
		height: 75vw;
	}

	#features .feat .more {
		margin-top: 10px;
	}

}

/****PORTFOLIOS OVERLAY******/
#slideOut{
	max-width:900px;
	width:900px;
	top:0;
	right:-900px;
	position:fixed;
	z-index:9999;
}
#slide-top{
    position: absolute;
    z-index: 9999999;
    top: 0;
    right: 0;
    background: #002945;
    font-size: 17px;
    font-weight: 500;
    height: 80px;
    min-width: 90px;
    -webkit-transition: all .125s ease-in-out;
    -moz-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
}
#slide-top::before {
    position: absolute;
    left: -40px;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 0 0 40px;
    border-color: #002945 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    -webkit-transform: rotate(360deg);
}
#slideOut.open{

	right:0;
	z-index:99999;
	overflow-y:scroll;
	overflow-x:hidden;
	transition:right 1s ease;
	background:#fff;
	bottom:0;
}
#slideOut .featured{
	float:left;
}
#slideOut #slideCl {
	position: absolute;
	right: 40px;
	top: 31px;
	width: 30px;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
	transition: all .125s ease-in-out;
	height: 22px;
	margin-top: -2px;
	background: url(../images/menu_cl.svg) no-repeat center center;
	background-size: contain;
}
.social{
	display: flex;
	width:100%;
	justify-content: flex-start;
	margin:58px 0 0 -10px;
}
.social a.nobg{
background-color: transparent;
}
.social a{.
	flex:0;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	background-color:#6681B6;
	border-radius:50%;
	height:30px;
	width:30px;
	margin:0 9px;
}
.social a i{
	font-size:17px;
	color:#fff;
}
#slideOut .flex{
	display: flex;
	width:100%;
	float: left;
}
#slideOut .flex .flexBox{
	width:50%;
}
.flexLeft{
	background:#6681B6;
	padding:40px;
}
.flexRight {
    background: #E7E7E7;
    display: flex;
    justify-content: center;
}
.flexBox span{
	display: inline-flex;
	width:50%;
	margin:0;
}
span.key{
	font-size: 12px;
	font-weight: 800;
	line-height: 32px;
	letter-spacing: .2em;
	color:#fff;
	text-transform: uppercase;
}
span.value{
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: .025em;
	color:#fff;
}

#slideOut .intro{
	float: left;
	margin: 85px 110px;

}
#slideOut .intro h2{
	color:#002945;
	font-size: 28px;
	line-height: 42px;
	letter-spacing: .025em;
	font-weight: 400;
}
#slideOut .intro h3{
	text-transform: none;
	font-weight: 400;
	font-size: 21px;
	line-height: 36px;
	letter-spacing: .025em;
}
#slideOut .testimonial{
	width:100%;
	
	background:#0A4B80;
}
#slideOut .testimonial{

}

#slideOut .testCar {
	background: #0A4B80;
	color: #fff;
	font-size: 30px;
	line-height: 1.6;
	padding:66px 95px;
	width:100%;
}

#slideOut .testCar .quote {
	text-indent: -15px;
	color:#fff;
}

#slideOut .testCar .quote, #slideOut .testCar .att {
	max-width: 780px;
	margin: 0px auto;
}

#slideOut .testCar .att {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin-top: 40px;
	border-left: 4px solid #fff;
	padding-left: 24px;
	box-sizing: border-box;
}

#slideOut .testCar .att .company {
	font-weight: 500;
	font-size: 13px;
	display: block;
	margin-top: 3px;
}

/****RETINA IMAGES****/

@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	#landing {
		background-image: url(../images/home/landing_bg@2x.jpg);
	}

	#logo {
		background-image: url(../images/logo_full@2x.png) !important;
	}

	#homeExp {
		background-image: url(../images/home/expertise_bg@2x.jpg);
	}

	#profCar .slide1 .img span {
		background-image: url(../images/home/profile1@2x.jpg);
	}

	#cultureBl .img span {
		background-image: url(../images/home/culture@2x.jpg);
	}

	#portHero {
		background-image: url(../images/portfolio/hero@2x.jpg);
	}

	#features .feat1 .bg {
		background-image: url(../images/portfolio/feat1@2x.jpg);
	}

	#features .feat2 .bg {
		background-image: url(../images/portfolio/feat2@2x.jpg);
	}

}
